.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
          margin-bottom: 50px;
   }  
       
   .features-section{
       padding-top: 94px;
       padding-bottom: 94px;
   }
       .features {
           display: flex;
           justify-content: space-between;
         margin-top: -30px;
           margin-left: -30px;
               }     
       .features-conteiner{
          flex-basis:calc(100%/4); 
           margin-top: 30px;
           margin-left: 30px;
             }
             .features-item{            
               width: 270px;
               height: 120px;
               background-color: 
               #F5F4FA;
               border-radius: 4px;
               margin-bottom: 30px;
               padding: 25px 100px;
           }
           .features-icon{
               width: 70px;
               height: 70px;
           }
        .features-title{
               font-weight: 700;
               font-size: 14px;
               line-height: 1.17;
               text-transform: uppercase;
               margin-bottom: 10px;
           }
        .features-desc{
               font-weight: 400;
               font-size: 14px;
               line-height: 1.7;
               color: var(--light);          
           }