
       
   .features-section{

        @media screen and (min-width: 480px){
            padding-top: 60px;
            padding-bottom: 60px;
        }
        @media screen and (min-width:1200px){
            padding-top: 94px;
            padding-bottom: 94px;
        }
   }
       .features {

            @media screen and (min-width: 480px){
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            @media screen and (min-width: 768px){
            
            }
            @media screen and (min-width:1200px){
                display: flex;
                flex-direction: row;
                // justify-content: space-between;
                margin-top: -30px;
                margin-left: -30px;
            }
               }     
       .features-conteiner{

            @media screen and (min-width: 480px){
                margin-bottom: 30px;
            }
            @media screen and (min-width: 768px){
            
            }
            @media screen and (min-width:1200px){
                flex-basis:calc(100%/4); 
                margin-top: 30px;
                margin-left: 30px;
            }
             }
             .features-item{     
                width: 450px;
                height: 120px;
               background-color: 
               #F5F4FA;
               border-radius: 4px;
               margin-bottom: 30px;
               padding: 25px 100px;
               @media screen and (min-width: 480px){

                display: flex;
                justify-content: center;    
                }
                @media screen and (min-width: 768px){
            
                }
                @media screen and (min-width:1200px){
                    width: 270px;
                    height: 120px;
                }
           }
           .features-icon{
               width: 70px;
               height: 70px;
           }
        .features-title{

               @media screen and (min-width: 480px){
                font-weight: 700;
                font-size: 14px;
                line-height: 1.17;
                text-transform: uppercase;
                margin-bottom: 10px;
                display: flex;
                justify-content: center;
            }
            @media screen and (min-width: 768px){
               
            }
            @media screen and (min-width:1200px){
                font-weight: 700;
                font-size: 14px;
                line-height: 1.17;
                text-transform: uppercase;
                margin-bottom: 10px;
                display: inline;
            }
           }
        .features-desc{
               font-weight: 400;
               font-size: 14px;
               line-height: 1.7;
               color: var(--light);          
           }