.footer{
    background-color:#2F303A ;
    padding-top: 60px;
    padding-bottom: 60px;       
   }
   .container-footer{

      @media screen and (min-width: 480px){
         display: flex;
         flex-direction: column;
         justify-content: center;    
       }

       @media screen and (min-width:1200px){
         display: flex;
         flex-direction: row;
         justify-content: center;
      } 
   }
      .footer-tab{
         display: flex;
         display: flex;
         flex-direction: column;
         margin-bottom: 60px;
         @media screen and (min-width: 768px){
            flex-direction: row;
            justify-content: space-around;
        }
        @media screen and (min-width: 1200px){
margin-bottom: 0;
     }
     }
   
.footer-logo {
   display: block;
   margin-bottom: 20px;
   font-family: Raleway;
   font-style: normal;
   font-weight: 700;
   font-size: 24px;
   line-height: 1.17;
   @media screen and (min-width:1200px){
      font-size: 26px;
   }    
}

.logo-blue{
   color: var(--one);    
}

.logo-w {
   color: var(--two);
 }


.footer-adr{
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 1.71;
   color: var(--two);    
   display: flex;
   transition-property: color;
   transition-duration: var(--transition-duration);
   transition-timing-function: var(--timing-function);

}

.footer-contacts{
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 1.71;
   color: rgba(255, 255, 255, 0.6);  
   transition-property: color;
   transition-duration: var(--transition-duration);
   transition-timing-function: var(--timing-function);

   @media screen and (max-width:1199px){
   display: flex;
    justify-content: center;
   }
}
.footer-contacts:hover,
.footer-contacts:focus{
   color: var(--one);    
}

.footer-contacts-list:not(:last-child){
margin-bottom:8px;

   @media screen and (min-width:1200px){
      margin-bottom: 9px;
   }    
}
.footer-main{

   display: flex;
   flex-direction: column;
   align-content: center;
   align-items: center;
   margin-bottom: 60px;    
   @media screen and (min-width: 768px){
      margin-bottom: 0;    
  }
   @media screen and (min-width:1200px){
      margin-right: 70px;
   
   }       
}


.footer-social-thumb{
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (min-width: 768px){
  }
    @media screen and (min-width:1200px){
 align-items: flex-start;
   }  
}



.footer-social-title{
   text-transform: uppercase;
   font-size: 14px;    
   color: var(--two);
   margin-bottom: 20px;
}
.footer-social-list{
   display: flex;
}

.footer-social-item:not(:first-child){
   margin-left: 10px;
}

.footer-social-linc{
   width: 44px;
   height: 44px;
   background-color: rgba(255, 255, 255, 0.1);
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   transition-property: background-color;
   transition-duration: var(--transition-duration);
   transition-timing-function: var(--timing-function);
}
.footer-social-linc:focus,
.footer-social-linc:hover{
   background-color: var(--one);
}
.footer-icon-social{
   width: 20px;
   height: 20px;
fill: var(--two);
}

.footer-form-thumb{
   @media screen and (max-width:1199px){
   display: flex;
   flex-direction: column;
   align-items: center;
   }
   @media screen and (min-width:1200px){
      margin-left: 93px;
   } 
}

.footer-form-title{
   text-transform: uppercase;
   font-size: 14px;    
   color: var(--two);
   margin-bottom: 20px;
}

.footer-form{
   display: flex;
   flex-direction: column;
   align-items: center;

   @media screen and (min-width:1200px){
   display: flex;
   flex-direction: row;
   align-items: stretch;
   }  

}
.footer-form-input{
   max-width: 450px;
   height: 50px;
 margin-bottom: 20px;

   background-color: transparent;
   border: 1px solid rgba(255, 255, 255, 0.6);
   border-radius: 4px;
   padding: 15px 16px;
   font-size: 16px;
   color: rgba(255, 255, 255, 0.6);
   box-shadow: 0px 4px    rgba(0, 0, 0, 0.15);
   @media screen and (min-width: 480px){
      width: 450px;
  }
   @media screen and (min-width:1200px){
      width: 358px;
      margin-right: 12px;
   }  
}

.footer-subscribe-btn{   
   width: 200px;
   height: 50px;
   background-color: var(--one);
   border-radius: 4px;
   border: var(--one);
   box-shadow: 0px 4px    rgba(0, 0, 0, 0.15);
   font-weight: 700;
   font-size: 16px;
   color: var(--two); 
   display: flex;   
   justify-content: center;
   align-items: center;
}

.footer-btn-icon{
fill: var(--two);
width: 24px;
height: 24px;
margin-left: 10px;
}

