:root {
    --one:#2196F3; 
    --two:#FFFFFF;  
    --full: #212121;     
    --light: #757575; 
    --transition-duration: 250ms;
	--timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --portfolio-wrap-text-bg-col: rgba(33, 150, 243, 0.9);
    --backdrop-bg-col:rgba(0, 0, 0, 0.2);
}